<div class="center hero-unit">
  <h1>Pinar's Sample Rails App</h1>

  <h2>
	A place where you can post whatever is on your mind and where dreams come true...
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
