<div class="center hero-unit">
  <h1>Pinar's Rails Twitter App</h1>
    <h3> IN DEVELOPMENT </h3>  
<p></p>
  <h2>
	A place where you can post whatever is on your mind...kinda like twitter :)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
